@font-face {
  font-family: "Rubik-Black";
  src: url("/fonts//Rubik/Rubik-Black.ttf");
}

@font-face {
  font-family: "Rubik-BlackItalic";
  src: url("/fonts/Rubik/Rubik-BlackItalic.ttf");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("/fonts/Rubik/Rubik-Bold.ttf");
}

@font-face {
  font-family: "Rubik-BoldItalic";
  src: url("/fonts/Rubik/Rubik-BoldItalic.ttf");
}

@font-face {
  font-family: "Rubik-ExtraBold";
  src: url("/fonts/Rubik/Rubik-ExtraBold.ttf");
}

@font-face {
  font-family: "Rubik-ExtraBoldItalic";
  src: url("/fonts/Rubik/Rubik-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Rubik-Italic";
  src: url("/fonts/Rubik/Rubik-Italic.ttf");
}

@font-face {
  font-family: "Rubik-Light";
  src: url("/fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
  font-family: "Rubik-LightItalic";
  src: url("/fonts/Rubik/Rubik-LightItalic.ttf");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("/fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik-MediumItalic";
  src: url("/fonts/Rubik/Rubik-MediumItalic.ttf");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("/fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik-SemiBold";
  src: url("/fonts/Rubik/Rubik-SemiBold.ttf");
}

@font-face {
  font-family: "Rubik-SemiBoldItalic";
  src: url("/fonts/Rubik/Rubik-SemiBoldItalic.ttf");
}
