// colors
$color-blue: #0066cc;
$color-blue--light: #6699cc;
$color-blue--dark: #1e3262;
$color-dark: #262c40;
$color-gray: #7c8793;
$color-gray--ligth: #f0f1f4;
$color-white: #ffffff;
$color-black: #000000;

//font-sizes
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-medium-x: 20px;
$font-size-big: 24px;
$font-size-large: 28px;
$font-size-extra-large: 48px;

// font-weights
$font-weight-light: 300;
$font-weight-primary: normal;
$font-weight-medium: 500;
$font-weight-medium-x: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// line-heights
$line-height-small: 16px;
$line-height-base: 20px;
$line-height-medium: 25px;
$line-height-big: 30px;
$line-height-large: 35px;
$line-height-extra-large: 50px;
